@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Montserrat:400,700&display=swap');

//$primary:rgb(255, 98, 125);
$primary:black;
$darkGrey:#292727;
$mainFont:'Montserrat', sans-serif;
$font:'Inria Serif', serif;
$pink:#fa2044;